html,
body {
  font-family: GothamMedium;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.main-container {
  height: 100vh;
  width: 100%;
  /* background-image: url("./images/background.jpg"); */
  background-size: cover;
  position: fixed;
  overflow-y: scroll;
}

@font-face {
  font-family: "GothamMedium";
  src: url("fonts/GothamMedium.ttf") format("truetype");
}

.input-form {
  display: flex;
  flex-direction: column;
}

.input-text {
  font-weight: 600;
  padding: 0.4rem;
}

.input-my {
  border-radius: 1rem;
  border: solid black 1px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
