.shop-wrapper {
  display: flex;
  flex-direction: column;
  margin: 4rem;
  margin-top: 7rem;
}

.shop-search-wrapper {
  padding: 0 0 1rem 9rem;
}

.shop-search-wrapper input {
  width: 15rem;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 1rem;
  font-size: 1rem;
  padding: 0.3rem 1rem;
}

.shop-main-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.shop-items-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  width: 100%;
}

.shop-item {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 10px;
  margin-left: 10px;
  max-width: 20rem;
  gap: 0.5rem;
  box-shadow: 1px 1px 5px rgba(136, 136, 136, 0.5);
  cursor: pointer;
}

.item-photo-wrapper {
  padding: 1rem;
  box-sizing: border-box;
  /* border: 1px solid rgba(0, 0, 0, 0.5); */
}

.shop-item:hover {
  box-shadow: 2px 2px 20px rgba(136, 136, 136, 0.8);
}

.item-photo {
  width: 100%;
  height: 18rem;
  flex: 0 0 auto;
  object-fit: contain;
  background-size: cover;
}

.item-description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  color: rgba(0, 0, 0, 0.6);
}

.item-price {
  color: rgba(0, 0, 0, 0.6);
}

.item-name {
  font-size: 1rem;
  font-weight: 600;
  padding-top: 0.5rem;
}

.shop-sidebar {
  display: flex;
  width: 10rem;

  gap: 1rem;
  flex-direction: column;
}

.shop-sidebar-item {
}
