.navigation-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	padding: 1rem;
	padding-right: 2rem;
	box-sizing: border-box;
	background-color: var(--background);
	border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
	height: 5rem;
	font-size: 1.2rem;
	align-items: center;
	z-index: 20;
	color: var(--text);
}

.item-wrapper {
	width: fit-content;
	padding: 0.5rem 1rem 0.5rem 1rem;
	height: 2rem;
	text-align: center;
	line-height: 2rem;
	cursor: pointer;
	border-radius: 1rem;
}

.item-wrapper:hover {
	background-color: rgba(128, 128, 128, 0.278);
	transition: background-color 0.1s;
}

.navigation-left {
	display: flex;
	width: fit-content;
	align-items: center;
}

.navigation-right {
	display: flex;
	width: fit-content;
}

.navigation-header {
	font-size: 1.5rem;
	font-weight: 600;
	width: fit-content;
	padding: 0rem 1rem 0rem 1rem;
	height: 2rem;
	text-align: center;
	line-height: 2rem;
	position: absolute;
	margin-left: 50%;
	transform: translate(-60%);
	color: var(--text);
}

.navigation-header a {
	text-decoration: none;
	color: var(--text);
}

.nav-image {
	width: 4rem;
	height: 4rem;
	margin-right: 0.5rem;
	object-fit: cover;
	border: 1px solid black;
}

.logout-wrapper {
	padding-left: 5rem;
}
