.navigation-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 1rem;
  padding-right: 2rem;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255);
  border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
}

.item-wrapper {
  width: fit-content;
  padding: 0rem 1rem 0rem 1rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
}

.item-wrapper:hover {
  background-color: rgba(128, 128, 128, 0.278);
  transition: background-color 0.1s;
}

.navigation-left {
  display: flex;
  width: fit-content;
}

.navigation-right {
  display: flex;
  width: fit-content;
}

.navigation-header {
  font-size: 1.5rem;
  font-weight: 600;
  width: fit-content;
  padding: 0rem 1rem 0rem 1rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
}

.navigation-header a {
  text-decoration: none;
  color: black;
}
